<section class="section-lg text-center">
    <div class="container">
      <h3 class="wow-outer"><span class="wow slideInUp" *ngIf="body_info">{{ body_info[0]['titulo_gobienro'] }}</span></h3>
        <p class="wow-outer"><span class="wow slideInDown text-width-1" *ngIf="body_info">{{ body_info[0]['frase_corta'] }}</span></p>
      <div class="row row-50 offset-top-2">
        <div class="row align-content-center align-items-center justify-content-between" *ngFor="let item of gobierno" id="programa-gobierno">
          
          <div class="col-md-5 col-12" id="imagen-gobierno">
            <img src="https://willianmedina.com.co/willianmedina/uploads/{{ item.imagen_url }}" alt="">
            <div *ngIf="body_info" class="mt-3">
              <a class="button button-primary-outline button-winona wow slideInUp" download="PlanDeGobierno-WillianMedinaCaro.pdf" target="_blank" href="{{pdf}}">Descargar {{ body_info[0]['titulo_gobienro'] }}</a>
            </div>
          </div>

          <div class="col-md-6 col-12 text-start" id="noticia-gobierno">
            <iframe  [src]="safeIframeUrl" *ngIf="safeIframeUrl"></iframe>
          </div>
        </div>

      </div>
    </div>

</section>