<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <app-header-admin></app-header-admin>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mt-3">

            <!-- Main Content -->
            <div style="opacity: {{ opacity }};" id="content" >

                <!-- Begin Page Content -->
                <div class="container-fluid" *ngIf="show" >

                    <!-- Page Heading -->
                    <a [routerLink]="['/admin/gobierno']">Volver atrás</a>
                    <h1 class="h3 mb-2 text-gray-800 mt-3 d-flex align-items-center">¿Seguro quieres eliminar  <b [innerHTML]="response.titulo | decodeHtml" class="ms-2"></b>? </h1>
                    <p class="mb-4">No volverás a recuperar este registro si lo llegas a eliminar
                    </p>

                    <div class="alert alert-success" role="alert" *ngIf="code">
                        El registro se ha eliminado correctamente
                    </div>

                    <button class="btn bg-danger text-white fw-bold px-5 py-2 rounded-1 fs-5" (click)="Delete()">ELIMINAR REGISTRO</button>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>
