<section class="section-lg text-center">
    <div class="container">
      <h3 class="wow-outer"><span class="wow slideInUp">Únete a mis redes sociales</span></h3>
      <p class="wow-outer"><span class="wow slideInDown text-width-1">#VamosAContruirFuturo</span></p>
  
        <div class="section-wrapper row justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-5 mb-md-0">
                <div class="post-item">
                    <div style="width: 100%;">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWillianMedinaCaro&tabs=timeline&width=410&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"  height="550" style="border:none;overflow:hidden; width: 100%;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-md-0">
                <div class="post-item">
                    <iframe src="https://www.instagram.com/p/CwaKA2LM1OT/embed" frameborder="0" class="w-100"></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <a class="twitter-timeline" data-width="100%" data-height="550" data-theme="light" href="https://twitter.com/WMedinaCaro?ref_src=twsrc%5Etfw">Tweets by WMedinaCaro</a> 
                </div>
            </div>
        </div>
    </div>
  </section>