<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <app-header-admin></app-header-admin>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mt-3">

            <!-- Main Content -->
            <div style="opacity: {{ opacity }};" id="content" >

                <!-- Begin Page Content -->
                <div class="container-fluid" >

                    <!-- Page Heading -->
                    <a [routerLink]="['/admin/galeria']">Volver atrás</a>
                    <h1 class="h3 mb-2 text-gray-800 mt-3">Crear nueva galeria</h1>
                    <p class="mb-4">Crea una nueva galeria, <b class="text-danger">* Todos los campos son obligatorios</b>
                    </p>

                    <div class="alert alert-success" role="alert" *ngIf="code">
                        El registro se ha creado
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Galeria</h6>
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="Save(form)" #form="ngForm">
                                <div class="mb-3">
                                    <label for="">Titulo</label>
                                    <input type="text" id="nombre" name="titulo" [(ngModel)]="titulo" class="form-group">
                                </div>

                                <div class="mb-3">
                                    <label for="">Descripción:</label>
                                    <editor id="descripcion" name="descripcion" [(ngModel)]="descripcion"
                                    [init]="{
                                        base_url: '/tinymce', 
                                        suffix: '.min'        
                                      }" apiKey="lvrm6t8a14mownj3hle33ox65yax79pf2d0v506bzvmipkd4">
                                      hola
                                    </editor>
                                </div>

                                <div class="mb-3">
                                    <label for="">#Hastag de la galería:</label>
                                    <input type="text" id="link" name="hastag" [(ngModel)]="hastag">
                                </div>

                                <div class="mb-3">
                                    <label for="">Galeria ID:</label>
                                    <input type="text" id="link" name="link_galeria" [(ngModel)]="link_galeria">
                                </div>

                                <div>
                                    <button type="submit" class="bg-info text-white fw-bold border-0  px-4 py-2 rounded-4">Crear y guardar </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>
