<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin willianmedina</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        Páginas
    </div>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/info']">
            <span>Información de Campaña</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/slider']">
            <span>Slider - Home</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/home']">
            <span>Historia - Home</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/quiensoy']">
            <span>Biografia</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/gobierno']">
            <span>Plan de Gobierno</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/noticias']">
            <span>Noticias</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/galeria']">
            <span>Galeria</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/redes']">
            <span>Redes sociales</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/contacto']">
            <span>Contacto</span>
        </a>
    </li>

</ul>
<!-- End of Sidebar -->