<div class="page container">
    <!-- Page Header-->
    <app-header></app-header>
    <!-- Breadcrumbs -->
    <section class="section section-lg">
      <div class="container">
        <div class="row row-50">
          <div class="col-12">
            <h5 class="thumbnail-light-title" *ngIf="noticia === undefined">
              Cargando contenido...
            </h5> 
            <article class="post-creative" *ngIf="noticia">
              <h3 class="post-creative-title" [innerHTML]="titulo | decodeHtml"></h3>
              
              <div [innerHTML]="descripcion | decodeHtml"></div>
              <a download="Noticia_{{titulo}}.pdf" target="_blank" href="{{pdf}}" >
                Descargar PDF del plan de gobierno
              </a>
            </article>
            
          </div>
        </div>
      </div>
    </section>
    <!-- Page Footer-->
    <app-footer></app-footer>
</div>
