<section class="section section-lg">
    <div class="container">
      <div class="row row-50 justify-content-center justify-content-lg-between align-items-center flex-lg-row-reverse">
        <div class="col-md-10 col-lg-6 col-xl-5" *ngIf="show_me">
          <h3 class="wow-outer">
            <span class="wow slideInDown">{{ me_short[0]['titulo'] }}</span>
          </h3>
          <p [innerHTML]="(me_short[0]['descripcion'] | slice:0:650) + (me_short[0]['descripcion'].length > 650 ? '...' : '' | decodeHtml)"></p>
          <div class="wow-outer button-outer">
            <a class="button button-lg button-primary button-winona wow slideInDown" data-wow-delay=".1s" [routerLink]="['/historia']">Ver más</a>
          </div>
        </div>
        <div class="col-md-10 col-lg-6 wow-outer ps-md-0" *ngIf="show_me">
          <img class="img-responsive wow slideInLeft rounded-4" src="https://willianmedina.com.co/willianmedina/uploads/{{ me_short[0]['imagen_url'] }}" alt="" width="570" height="368">
        </div>
      </div>
    </div>
</section>