<section class="section section-xs text-center" id="mensaje-hr">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-12">
          <div class="box-cta-2">
            <h4 class="wow-outer text-white fw-bold">
                <span class="wow slideInRight">#PorNuestroMunicipio</span>
            </h4>
            <div class="wow-outer button-outer"><a class="button button-white button-winona wow slideInLeft" href="#">¿Tienes dudas? ¡Contáctame!</a></div>
          </div>
        </div>
      </div>
    </div>
</section>